/*Início - estilos gerais*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans HK", sans-serif;
}

html {
    --white: #ffffff;
    --base_grey: #f1f1f1;
    --shadow_grey: #818181;
    --dark_grey: #3b3b3b;
    --border: #b6b6b6;
    --light_blue: #f0f8ff;
    --button_border: #f1f1f1;
}

html.dark-mode {
    --white: #1f1f1f;
    --base_grey: #000000;
    --light_blue: #000000;
    --dark_grey: #ffffff;
    --shadow_grey: #5e5e5e;
    --button_border: #ffffff;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-1 {
    width: 100%;
}

.main-container {
    min-height: 100vh;
    padding: 1rem;
    background: linear-gradient(to right bottom, var(--base_grey), var(--white));
    background-attachment: fixed;
}

/*Fim - estilos gerais*/

/* Início - display e botões */
.stopwatch-container {
    max-width: 500px;
    min-width: 270px;
    padding: 1.5rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    border: 0.125rem solid #b6b6b6;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, var(--light_blue), var(--white));
}

.stopwatch-container .watch {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--base_grey);
    box-shadow: 1px 1px 4px inset var(--shadow_grey);
}

.watch.dark-mode {
    animation: watch-lights 5s infinite;
}

.stopwatch-header {
    justify-content: space-between;
}

.stopwatch-header h1 {
    font-size: 1.5rem;
    color: var(--dark_grey);
}

.switch-theme {
    width: 60px;
    height: 1.87rem;
    background-color: var(--dark_grey);
    border-radius: 1.87rem;
    position: relative;
    cursor: pointer;
}

.switch-theme > input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + span {
    left: calc(50% + 0.187rem);
}

.switch-theme > span {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--white);
    position: absolute;
    left: 0.187rem;
    top: 0.187rem;
    transition: left 0.25s;
}

.switch-theme .material-icons {
    font-size: 1rem;
    color: var(--dark_grey);
}

.watch span,
p {
    font-size: 1.5rem;
    color: var(--dark_grey);
    font-weight: 500;
}

.watch > p:last-child {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.operating-buttons {
    list-style-type: none;
    gap: 1.5rem;
    width: 70%;
}

.operating-buttons li {
    flex: 1 1 0;
}

li button {
    margin: 0 auto;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.375rem 0;
    border-radius: 1.125rem;
    border: 0.125rem solid var(--button_border);
    color: var(--dark_grey);
    box-shadow: -1px -1px 0.125rem inset var(--shadow_grey);
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.3s;
    background-color: var(--base_grey);
}

li button:hover {
    width: 5rem;
    border-radius: 0.5rem;
}

li button:active {
    box-shadow: 1px 1px 0.125rem inset var(--shadow_grey);
}

li button:hover > span {
    display: block;
}

li button > .material-icons {
    font-size: 1.5rem;
}

li button span {
    display: none;
    transition: display 0.25s;
}

#start-pause .material-icons {
    color: #438d43;
}

#start-pause .material-icons.paused {
    color: #434e8d;
}

#stop-button .material-icons {
    color: #8d4343;
}

#lap-button {
    color: var(--dark_grey);
}

#start-pause .material-icons.white,
#stop-button .material-icons.white,
#stop-button .material-icons.white {
    color: #ffffff;
}

/* Fim - display e botões */

/* Início - Lap table*/
.table-container {
    width: 70%;
}

table {
    border-collapse: collapse;
    color: var(--dark_grey);
    table-layout: fixed;
    border-spacing: 0.62rem;
}

table tr {
    background-color: var(--base_grey);
    margin-top: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

tbody tr {
    border: 0.125rem solid var(--border);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.87rem;
    opacity: 0;
    transform: translateY(10px);
    animation: show-up 0.5s forwards;
}

thead tr {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

/* Fim - Lap table*/

/* Media queries*/
@media (max-width: 480px) {
    body {
        min-width: fit-content;
        min-height: fit-content;
    }

    .main-container {
        min-height: 100vh;
        padding: 0rem;
    }

    .stopwatch-container {
        border-radius: 0rem;
    }

    .table-container {
        width: 100%;
    }
}

@media (max-width: 350px) {
    table td,
    th {
        font-size: 0.8rem;
    }

    table tr {
        grid-template-columns: 1.5fr 2fr 2fr;
    }

    .watch {
        transform: scale(0.85);
    }
}

/*CSS Animations*/
@keyframes show-up {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes watch-lights {
    0% {
        box-shadow: 0px 0px 2px 2px rgb(225, 0, 255), 0px 0px 6px 6px rgb(232, 120, 247);
    }

    25% {
        box-shadow: 0px 0px 2px 2px rgb(255, 0, 0), 0px 0px 6px 6px rgb(247, 120, 120);
    }

    50% {
        box-shadow: 0px 0px 2px 2px rgb(251, 255, 0), 0px 0px 6px 6px rgb(224, 247, 120);
    }

    75% {
        box-shadow: 0px 0px 2px 2px rgb(4, 0, 255), 0px 0px 6px 6px rgb(120, 129, 247);
    }

    100% {
        box-shadow: 0px 0px 2px 2px rgb(225, 0, 255), 0px 0px 6px 6px rgb(232, 120, 247);
    }
}
