{% extends "../baselayout.njk" %}

{% block title %}
<title>{{contact.name}}</title>
{% endblock %}

{% block content %}
<div class="container extended">
    <section class="flex limited contact-image">
        <img src="{{contact.avatarURL}}" alt="profile_picture">
    </section>
    <section class="contact-info">
        <div class="flex w-100 header create">
            <div class="title">
                <h3>Informações</h3>
            </div>
            <div class="new-contact">
                <a href="/contacts">Voltar</a>
            </div>
        </div>
        <div class="form-container">
            <div class="styled item">
                <h4>Nome</h4>
                <span class="w-100">{{contact.name}}</span>
            </div>
            <div class="styled item">
                <h4>Contato</h4>
                <span class="w-100">{{contact.number}}</span>
            </div>
            <div class="styled item">
                <h4>Idade</h4>
                <span class="w-100">{{contact.age}} anos</span>
            </div>
            <div class="flex w-100 location">
                <div class="styled item">
                    <h4>Estado</h4>
                    <span class="w-100">{{contact.state}}</span>
                </div>
                <div class="styled item">
                    <h4>País</h4>
                    <span class="w-100">{{contact.country}}</span>
                </div>
            </div>
            <a class="edit-button" href="/contacts/{{contact.id}}/edit">Editar</a>
        </div>
    </section>
</div>
{% endblock %}