{% extends "../baselayout.njk" %}

{% block title %}
<title>{{contact.name}}</title>
{% endblock %}

{% block content %}
<div class="container extended">
    <section class="flex contact-image">
        <img src="{{contact.avatarURL}}" alt="profile_picture">
    </section>
    <section class="contact-info">
         <div class="flex w-100 header create">
            <div class="title">
                <h3>Editar informações</h3>
            </div>
            <div class="new-contact">
                <a href="/contacts/{{contact.id}}">Voltar</a>
            </div>
        </div>
        <div class="form-container">
            <form action="/contacts?_method=PUT" method="post">
                <div class="styled item">
                    <label for="avatarURL">URL da foto</label>
                    <input class="input w-100" value="{{contact.avatarURL}}" required name="avatarURL" id="avatarURL" type="url" placeholder="http://">
                </div>
                <div class="styled item">
                    <label for="name">Nome</label>
                    <input class="input w-100" value="{{contact.name}}" required name="name" id="name" type="text" placeholder="Nome do contato">
                </div>
                <div class="styled item">
                    <label for="number">Contato</label>
                    <input class="input w-100" value="{{contact.number}}" required name="number" id="number" type="tel" placeholder=" (DDD) 9xxxx-xxxx ">
                </div>
                <div class="styled item">
                    <label for="birth">Data de nascimento</label>
                    <input class="input w-100" value="{{contact.birthDate}}" required name="birth" id="birth" type="date">
                </div>
                <div class="flex w-100 location">
                    <div class="styled item">
                        <label for="state">Estado</label>
                        <input class="input w-100" value="{{contact.state}}" required name="state" id="state" type="text" placeholder="Sigla do estado">
                    </div>
                    <div class="styled item">
                        <label for="country">País</label>
                        <input class="input w-100" value="{{contact.country}}" required name="country" id="country" type="text" placeholder="Nome do País">
                    </div>
                </div>
                <input value="{{contact.id}}" type="hidden" name="id">
                <input class="put-button w-100" class="put-button" type="submit" value="Salvar">
            </form>
            <form class="form-delete" action="/contacts?_method=DELETE" method="post">
                <input value="{{contact.id}}" type="hidden" name="deleteId">
                <input class="delete-button w-100" class="delete-button" type="submit" value="Excluir contato">
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block overlay %}
<div class="flex modal-hidden w-100 modal-overlay">
    <div class="modal">
        <i class="material-icons">close</i>
        <div class="delete-icon">
            <span class="material-symbols-outlined">delete</span>
        </div>
        <div class="delete-msg">
            <span><b>Você está prestes a excluir um contato</b></span>
            <span>Ao clicar em deletar você escluirá defintitivamente
                  o contato da sua lista, tem certeza ?
            </span>
        </div>
        <div class="modal-buttons">
            <button class="cancel-delete">Cancelar</button>
            <button class="modal-delete">Deletar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptjs %}
<script defer type="text/javascript" src="/js/check-inputs.js"></script>
<script defer type="text/javascript" src="/js/modal-delete.js"></script>
{% endblock %}
