{% extends "baselayout.njk"%}

{% block title%}
<title>Lista de contatos</title>
{% endblock %}

{% block content %}
<div class="container">
    {% include "./search-bar.njk" %}
    <div class="flex center-list">
        <div class="contacts-list">
            <div class="not-found">Sorry :(<br>Contact not found.</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptjs%}
<script src="/script.js" ></script>
{% endblock %}
