<div class="flex w-100 header">
    <div class="title">
        <h3>Lista de contatos</h3>
    </div>
    <div class="new-contact">
        <a href="/contacts/create">Novo contato</a>
    </div>
</div>
<div class="w-100 search-bar">
    <form class="flex w-100" method="get" action="/contacts/search">
        <input class="w-100" type="search" name="name" id="search">
        <label for="search">Nome do contato</label>
        <button class="flex" type="submit">
            <i class="material-icons">search</i>
        </button>
    </form>
</div>