/* Início - Intro-Section*/
#intro-section {
    min-height: 744px;
    position: relative;
    z-index: 1;
}

#intro-section>img {
    z-index: -2;
    object-fit: cover;
    object-position: center center;
    margin: 0px;
}

.overlay {
    top: 0px;
    background: linear-gradient(#000000dc 4%, #0000006c 40% 50%, #000000d2 96%);
    z-index: -1;
}

#intro-section .header {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;
}

.header .center-header {
    justify-content: space-between;
    margin: 0px 56px;
}

.center-header .logo {
    max-width: 132px;
}

.center-header>.right {
    gap: 32px;
}

.right>label {
    position: relative;
}

label>i {
    transform: scale(0.7);
    pointer-events: none;
    position: absolute;
    left: 4px
}

label>select {
    background-color: transparent;
    padding: 8px 0px 8px 24px;
    outline: none;
    border: 1px solid #ffffff9c;
    border-radius: 2px;
    background-color: #0000004f;
    color: #ffffff;
}

select>option {
    background-color: #9e9e9e;
    font-size: 14px;
}

select:focus {
    outline: #ffffff solid 1px;
}

.right>.sign-in-button {
    background-color: #db0808;
    padding: 8px 18px;
    height: fit-content;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
}

.hero-container {
    justify-content: center;
    margin-top: 160px;
}

.hero-container .hero {
    flex: 1;
    max-width: 670px;
    text-align: center;
}

.hero h1 {
    margin: 0px 32px;
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.hero>p {
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 32px;
}

.hero .get-started-box {
    font-size: 20px;
}

.get-started-box>p {
    margin-bottom: 18px;
    font-size: 20px;
}

.get-started-box>form {
    margin: 0 auto;
    position: relative;
}

form input[type=email] {
    height: var(--input-height);
    padding: 8px 12px 0px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 2px 0px 0px 2px;
    border-right: 1px solid #252525;
}

form button {
    width: 320px;
    height: 60px;
    border: none;
    background-color: #db0808;
    color: #ffffff;
    font-size: 24px;
    justify-content: center;
    gap: 8px;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
}

form>button:active {
    background-color: #ad0707;
    outline: #5e0808 solid 2px;
}

button .material-icons {
    font-size: 22px;
}

form label {
    position: absolute;
    top: calc(var(--input-height)/2 - 10px);
    left: 12px;
    font-size: calc(var(--input-height)/4);
    color: #929292;
    transition: all 0.1s;
    pointer-events: none;
}

form input[type=email]:focus+label,
form input[type=email]:not(:placeholder-shown)+label {
    top: 6px;
    font-size: calc((var(--input-height)/4)*0.8);
    font-weight: 500;
}

.label-goup {
    top: 6px;
    font-size: 12px;
    font-weight: 500;
}

@media only screen and (max-width:1400px) {
    #intro-section {
        min-height: 685px;
    }
}

@media only screen and (max-width:950px) {
    .hero-container .hero {
        max-width: 524px;
        margin: 0px 56px;
    }

    .get-started-box>p {
        font-size: 24px;
        max-width: 524px;
    }

    .hero>p {
        margin-bottom: 16px;
    }

    .get-started-box>form,
    footer form {
        max-width: 524px;
        flex-direction: column;
    }

    form button {
        font-size: 16px;
        width: fit-content;
        height: fit-content;
        padding: 10px 12px;
        margin-top: 16px;
        border-radius: 2px;
    }

    button .material-icons {
        font-size: 16px;
    }

    .hero-container {
        margin-top: 140px;
    }
}

@media only screen and (max-width:740px) {
    body {
        --input-height: 48px;
    }

    form label {
        font-size: 14px;
        left: 12px;
    }
}

@media only screen and (max-width:600px) {
    #intro-section {
        min-height: 508px;
    }

    #intro-section .header {
        padding-top: 24px;
    }

    .header .center-header {
        margin: 0 20px;
        gap: 12px
    }

    .center-header .logo {
        max-width: 88px;
        min-width: 88px;
    }

    .center-header>.right {
        gap: 12px;
    }

    .right select {
        padding: 4px 0px 4px 24px;
    }

    .right>.sign-in-button {
        padding: 4px 0;
        min-width: 64px;
    }

    .hero-container .hero {
        margin: 0 20px;
    }

    .hero-container {
        margin-top: 92px;
    }

    .hero h1 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 24px;
    }

    .hero>p,
    .get-started-box>p {
        font-size: 18px;
    }

    .overlay {
        background: linear-gradient(#000000f3 4%, #0000006c 20% 60%, #000000d2 96%);
    }
}

@media only screen and (max-width: 480px) {
    .hero-container {
        margin-top: 80px;
    }
}

/*Fim - Intro-Section */