{% extends "./baselayout.njk" %}

{% block title %}
    <title>Gym Management | {{ status }}</title>
{% endblock %}

{% block content %}
    <div class="center-container errors">
        <div class="not-found">
            <div class="flex">
                <span>{{ status }}</span>
                <i class="material-icons">sentiment_dissatisfied</i>
            </div>
            <span>{{ msg }}</span>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector(".hidemenu-button").classList.add("notfound-page")
    </script>
{% endblock %}