/*Início do formulário de cadastro*/
.header.create{
    transform: translateY(30px);
    animation: slide 0.8s forwards;
}

.create a{
    background-color: #777777;
}

.container .item{
    padding: 12px 0px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 8px;
    transform: translateY(30px);
    animation: slide 0.8s forwards;
}

.item label, h4{
    display: block;
    font-size: 14px;
    color: #505050;
    font-weight:400;
}

form input{
    background-color: #ffffff00;
    color: #1f1f1f;
    font-size: 17px;
    font-weight: 500;
    margin-top: 6px;
}

input:valid{
    color: #1f1f1f;
}

input::placeholder{
    font-size: 14px;
    font-weight: 400;
    color:#777777;
    letter-spacing: 0.5px;
}

input[type=submit]{
    background-color: #ab1bcf;
    border: 1px solid #7e259481;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: translateY(30px);
    animation: slide 0.8s forwards;
}

input[type=submit]:hover{
    background-color:#bc2ce0;
}
/*Fim do formulário de cadastro*/

/*Início da visualização e edição dos dados do contato*/
.extended{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.contact-image{
    max-height: 520px;
    border-radius: 8px;
    background: linear-gradient(to right bottom,#b951d3, #f7fa57);
    transform: translateY(30px);
    animation: slide 0.8s forwards;
}

.contact-image.limited{
    max-height: 388px;
}

.contact-image > img{
    width: 96%;
    height: 96%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
} 

.item.styled{
    border: 2px solid #e0a1f0;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #ffffff;
}

.location{
    gap: 8px;
    margin-bottom: 24px;
}

.location .item{
    max-width: 50%;
    flex-grow: 1;
    margin-bottom: 0px;
}

.item span, input{
    display: block;
    color: #505050;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
}

.edit-button, form > input.put-button{
    display: block;
    background-color:#f3f728;
    border: 1px solid #a1a32f71;
    padding:8px;
    border-radius: 4px;
    text-decoration: none;
    color: #505050;
    text-align: center;
    font-weight: bold;
    transform: translateY(30px);
    animation: slide 0.8s forwards;
    transition: background-color 0.3s;
}

.edit-button:hover, form >
.put-button:hover,
.put-button:active{
    background-color:#fcff4f;
}

form input.delete-button{
    background-color: #f85555;
    border: 1px solid #a32f2f71;
    transition: background-color 0.3s;

}

.form-delete > 
.delete-button:hover,
.delete-button:active{
    background-color: #ee7171;   
}

@media only screen and (max-width:680px){
    .extended{
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .contact-image{
        height: 288px;
    }
    
    .location{
        flex-wrap: wrap;
    }

    .location .item{
        flex:1 1 70%;
        max-width: 100%
    }
}
/*Fim da visualização e edição dos dados do contato*/

/*Início do modal*/
.modal-overlay{
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: #000000b4;
    padding: 16px;
}

.modal-hidden{
    opacity: 0;
    visibility: hidden;
}

.modal{
    max-width: 400px;
    padding: 16px;
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #7e7e7e;
    display: grid;
    position: relative;
}

.modal > i{
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.delete-icon > span{
    display: block;
    width: fit-content;
    margin: 0 auto 16px;
    font-size: 48px;
    color: #f85555;
}

.modal > .delete-msg{
    margin:0px 16px;
}

.delete-msg > span{
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
}

.delete-msg > span:last-child{
    color:#a8a8a8;
    font-weight: 500;
}

.modal > .modal-buttons{
    align-self: flex-end;
    justify-self: flex-end;
}

.modal-buttons > button{
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
}

.modal-buttons > .modal-delete{
    background-color:#f85555;
    color: #ffffff;
}

.modal-delete:hover, .modal-delete:active{
    background-color: #ee7171;
}

.cancel-delete:hover, .cancel-delete:active{
    box-shadow: 0px 0px 0px 1px inset black;
}

@media only screen and (max-width:300px){
    .modal-buttons{
        width: 100%;
        text-align: center;
    }

    .modal-buttons > button{
        width: 100%;
    }

    .cancel-delete{
        margin-bottom: 4px;
    }
}
/*Fim do modal*/
