/*Início - Aplicando estilos aos tipos*/
.grass {
    color: #000000;
    background: linear-gradient(to right bottom, #84f16eee, #4fc736ee);
}

.poison {
    color: #ffffff;
    background: linear-gradient(to right bottom, #bd6ef1, #891ad3);
}

.fire {
    color: #ffffff;
    background: linear-gradient(to right bottom, #f16e6e, #d14141);
}

.flying {
    color: #000000;
    background: linear-gradient(to right bottom, #cddae6, #95b6d4);
}

.water {
    color: #ffffff;
    background: linear-gradient(to right bottom, #91bdf7, #5d86bd);
}

.bug {
    color: #ffffff;
    background: linear-gradient(to right bottom, #395334, #4a9739);
}

.normal {
    color: #ffffff;
    background: linear-gradient(to right bottom, #808080, #a3a3a3);
}

.electric {
    color: #000000;
    background: linear-gradient(to right bottom, #fdff8e, #eff31f);
}

.ground {
    color: #ffffff;
    background: linear-gradient(to right bottom, #a05123, #cf7540);
}

.fairy {
    color: #000000;
    background: linear-gradient(to right bottom, #fdcef5, #ffa0ef);
}

.fighting {
    color: #ffffff;
    background: linear-gradient(to right bottom, #dfba77, #ffb01e);
}

.psychic {
    color: #ffffff;
    background: linear-gradient(to right bottom, #ff79e9, #ff24da);
}

.rock {
    color: #ffffff;
    background: linear-gradient(to right bottom, #663d0d, #83705a);
}

.steel {
    color: #ffffff;
    background: linear-gradient(to right bottom, #6788b3, #848e9b);
}

.ice {
    color: #000000;
    background: linear-gradient(to right bottom, #b7f1ff, #65a2b1);
}

.ghost {
    color: #ffffff;
    background: linear-gradient(to right bottom, #6b2c96, #460d6d);
}

.dragon {
    color: #000000;
    background: linear-gradient(to right bottom, #91ebd0, #9ed3c3);
}

.dark {
    color: #ffffff;
    background: linear-gradient(to right bottom, #535353, #000000);
}
/*Fim - Aplicando estilos aos tipos*/
