*{margin:0; padding:0; box-sizing: border-box;}

body {
    background-color: #f7f7f7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 40px;
    max-width: 650px;
    min-width: 175px;
    min-height: 500px;
    background-color: #ffff;
    box-shadow: 1px 1px 5px #b4b4b4;
    margin: 10vh auto;
    border-radius: 10px;
}

main h1{
    font-size: 25px;
    color: #5c5c5c;
    padding: 0px 0px 10px;
    font-weight: 500;
    border-bottom: 2px solid #ecc207;
}

main .flex{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

main #unit-type{
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main #converter{
    justify-content: space-around;
}

#unit-type label{
    font-size: 20px;
    font-weight:400;
    color: #5c5c5c;
    border-bottom: 2px solid #ecc207;
    padding: 0px 0px 10px;
}

#unit-type select{
    padding: 13px 10px;
    background-color: #eeeded;
    border-radius: 5px;
    flex: 0 1 230px;
    border: 2px solid #c2c2c2;
}

main p{
    font-size: 36px;
    color:#ecc207;
    padding: 15px 0px;
}

section .initial, .final{
    max-width: 230px;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
}

section input{
    padding: 15px ;
    outline: none;
    border:none;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

section select{
    width: 100%;
    padding: 13px 10px;
    background-color: #eeeded;
    border:none;
    border-radius:0px 0px 5px 5px;
    border-top: 2px solid #c2c2c2;
}

@media (max-width:575px){
    main section{
        flex-direction: column;
        align-items: center;
    }
}
