*{margin:0; padding:0; box-sizing: border-box;}

body {
    background-color: #ebebeb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toCenter-content{
    display: flex;
    width: 100vw;
    padding: 24px;
    justify-content: center;
}

.container {
    flex-grow: 1;
    padding: 40px;
    max-width: 650px;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #b4b4b4;
    border-radius: 10px;
}

.container h1{
    font-size: 25px;
    color: #5c5c5c;
    padding: 0px 0px 10px;
    font-weight: 500;
    border-bottom: 2px solid #ecc207;
}

.container .flex{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.container #unit-type{
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container #converter{
    justify-content: space-around;
    font-size: 36px;
    color:#ecc207;
    padding: 15px 0px;
    align-items: center;
    gap: 8px;
}

#unit-type label{
    font-size: 20px;
    font-weight:400;
    color: #5c5c5c;
    border-bottom: 2px solid #ecc207;
    padding: 0px 0px 10px;
}

#unit-type select{
    padding: 13px 10px;
    background-color: #eeeded;
    border-radius: 5px;
    flex: 0 1 230px;
    border: 2px solid #c2c2c2;
}

section .initial, .final{
    max-width: 230px;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
}

section input{
    padding: 15px ;
    outline: none;
    border:none;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

section select{
    width: 100%;
    padding: 13px 10px;
    background-color: #eeeded;
    border:none;
    border-radius:0px 0px 5px 5px;
    border-top: 2px solid #c2c2c2;
}
@media (max-width:950px){
    .container{
        max-width: 100%;
    }
    .container section{
        flex-direction: column;
        align-items: center;
    }
    .container h1{
        text-align: center;
    }
}
