<script defer type="module" src="/js/load-effect.js"></script>
<script defer type="module" src="/js/mobile-adjust.js"></script>
<script defer type="module" src="/js/main.js"></script>
<script defer type="text/javascript" src="/js/header-links.js"></script>