{% extends "../baselayout.njk" %}

{% block title %}
<title>Instrutores | Cadastro</title>
{% endblock %}

{% block content %}
<div class="center-container">
    <div class="card-container">
        <div style="background: url(https://images.unsplash.com/photo-1616279969096-54b228f5f103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zml0bmVzcyUyMGluc3RydWN0b3J8ZW58MHx8MHx8fDA%3D&w=1000&q=80) no-repeat top center /cover" class="card-image"></div>
        <form class="card-content" action="/instructors" method="post">
            <h3>NOVO INSTRUTOR</h3>
            {% include "./fields.njk"%}
            <input class="w-100 button" type="submit" value="Salvar">
        </form>
    </div>
</div>
{% endblock%}

{% block headScripts %}
{% include "../general-scrips.njk" %}
{% endblock %}
