/* Início - Estilos gerais*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right bottom, #819eff, #fff9a3 80%);
    background-attachment: fixed;
}
/* Fim - Estilos gerais*/


/* Início - Lista de tarefas*/
.container{
    width: 100%;
    min-height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.todo-container{
    flex: 1;
    max-width: 450px;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #acacac;
    position: relative;
}

.todo-container .header{
    width: 100%;
    background-color: #695ff8;
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    color: #ffffff;
    font-size: 24px;
}

.todo-container .wrapper{
    padding: 0px 14px 16px;
}

.wrapper .input-bar{
    width: 100%;
    margin:24px 0px 8px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.input-bar .input-area{
    position: relative;
    flex: 1;
}

.input-area input[type=text]{
    width: 100%;
    padding: 8px 8px 8px 32px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #979797;
    font-size: 16px;
    color: #353535;
}

input[type=text]:focus + label{
    top:-18px;
    left:-4px;
    transform: scale(0.85);
}

.input-area label{
    position: absolute;
    top:10px; left:34px;
    color:#979797;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: auto;
    transition-property: top, left, transform;
    transition-duration: 0.25s;
}

.input-area label.move-label{
    top:-18px;
    left:-4px;
    transform: scale(0.85);
}

.input-area .add-task-icon{
    position: absolute;
    top:10px; left:8px;
}

.input-bar button{
    background-color: #4234ff;
    font-size: 24px;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    color:#ffffff;
    cursor: pointer;
}

.input-bar button:hover{
    background-color: #2b1fd6;
    transition: background-color 0.25s;

}

.wrapper .task-list{
    width: 100%;
}

.task-list .task{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border-bottom: 1px solid #979797;
    transform: translateX(-10%);
    opacity: 0%;
    animation: slideTask 0.8s forwards;
}

.task .before{
    content: "";
    height: 60%;
    width: 5px;
    position: absolute;
    left: 0px;
    border-radius: 4px;
    background-color: #bbbcbd;
}

.before.done{
    background-color: #17a017;
}

.task .task-name{
    display: block;
    height: fit-content;
    margin-left: 4px;
    font-family: 16px;
    color: #353535;
    break-inside: avoid;
    word-break: break-all;
    
}

.task-name.done{
    color: #17a017;
    text-decoration: line-through solid #17a017 2px;
}

.task .task-buttons{
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.task-buttons > button{
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.task-buttons button > img{
    pointer-events: none;
}

.task-buttons .delete-btn{
    background-color: #e62c2c;
}

.task-buttons .done-btn{
    background-color: #2cbd19;
}
/* Fim - Lista de tarefas*/


/* Início - Modal*/
.modal-overlay{
    height: 100vh;
    width: 100%;
    padding: 24px;
    background-color: #252525a4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    opacity: 0%;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 100%;
    visibility: visible;
}

.modal-overlay .modal{
    flex:1;
    max-width: 400px;
    background-color: #ebebeb;
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 1px 6px #4b4b4b;
}

.modal .modal-header{
    width: 100%;
    padding: 16px;
    background-color: #464646;
    border-radius: 7px 7px 0px 0px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header span{
    cursor: pointer;
}

.modal .modal-content{
    padding: 32px 16px;
    color: #353535;
    font-size: 16px; 
    text-align: justify;
}

.modal .close-modal{
    display: block;
    margin: 16px 0px 0px auto;
    padding: 8px 16px;
    background-color: #e62c2c;
    border: 2px solid #923131;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.close-modal:hover{
    background-color: #c21a1a;
}
/* Fim- Modal*/

/* CCS Animations*/
@keyframes slideTask {
    100%{
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes deleteTask {
    0%{
        transform: translateX(0%);
        opacity: 100%;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0%;
    }
}

/* Media Queries */
@media (max-width:950px){
    .container .todo-container{
        max-width: 100%;
    }
}
